.scribby-page {
    /* height: 100%; */
}
.nav-bar-gap {
    height: 60px;
}

.scribby-page-container {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.scribby-left-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scribby-main-logo-container {
    width: 60%;
    /* height: 70%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}


.scribby-main-logo {
    border-radius: 10%;
    width: 100%;
}

.scribby-app-store-container {
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.scribby-app-store-logo {
    max-width: 200px;
    padding: 5px;
    /* max-height: 50px; */
}

.scribby-left-panel-heading {
    font-size: 88px;
    color: rgb(182, 228, 230);
}

/* ======================================================== */

.scribby-right-panel {
    width: 50%;
    background-color: rgb(188, 192, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .scribby-page-container {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.scribby-right-panel-container {
    width: 90%;
}

.scribby-right-panel-item-container {
    /* background-color: orange; */
    width: 100%;
    /* height: 88px; */
    position: relative;
}


.scribby-right-panel-item {
    font-size: 44px;
}

.scribby-right-panel-item-divider {
    height: 2px;
    width: 100%;
    background-color: black;
}


/* ================================================================
========================= MOBILE =================================
================================================================= */
@media only screen and (max-width: 768px) {
    .scribby-page-container {
        width: 100%;
        /* height: 50vh; */
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .scribby-left-panel {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    .scribby-main-logo-container {
        width: 90%;
        /* height: 70%; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
    }
    
    .scribby-left-panel-heading {
        font-size: 60px;
        color: rgb(182, 228, 230);
    }    
    .scribby-right-panel {
        display: none;
    }

    .scribby-app-store-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }    

}